parameters:
    php: '8.2'
    level: 5
    paths:
        - src
    ignoreErrors:
        - '#Undefined type#'
        - '#Undefined method#'
        - '#Call to unknown method#'
        - '#Call to undefined method#'
        - '#Implicitly marking parameter#'
    excludePaths:
        - tests/bootstrap.php
