services:
  - type: web
    name: school-management
    env: docker
    plan: free
    buildCommand: docker build -t school-management .
    startCommand: docker run -p $PORT:8080 school-management
    envVars:
      - key: APP_ENV
        value: prod
      - key: APP_DEBUG
        value: "0"
      - key: DATABASE_URL
        value: "sqlite:///%kernel.project_dir%/var/data/school_management_prod.db"
      - key: MAILER_DSN
        value: "null://null"
      - key: MESSENGER_TRANSPORT_DSN
        value: "doctrine://default?auto_setup=0"
      - key: APP_SECRET
        generateValue: true
