services:
  - type: web
    name: school-management
    env: php
    plan: free
    buildCommand: chmod +x build.sh && ./build.sh
    startCommand: php bin/console server:start 0.0.0.0:10000
    envVars:
      - key: APP_ENV
        value: prod
      - key: APP_DEBUG
        value: "false"
      - key: DATABASE_URL
        value: "sqlite:///%kernel.project_dir%/var/data/school.db"
      - key: MAILER_DSN
        value: "null://null"
      - key: MESSENGER_TRANSPORT_DSN
        value: "doctrine://default?auto_setup=0"
      - key: APP_SECRET
        generateValue: true

